<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 主配置文件 -->
<configuration>
    <typeAliases>
        <!-- 设置实体类别名 -->
        <typeAlias type="com.henu.springboot.entity.Dept" alias="Dept"></typeAlias>
    </typeAliases>

</configuration>